.ticketFilter {
  margin-bottom: 16px;

  &List {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &Item {
    display: flex;
  }
}

.filterButton {
  display: flex;
  width: 168px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #dfe5ec;
  border-radius: 6px;
  color: #4a4a4a;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
}

.filterButton:hover {
  background-color: #f0f0f0;
}

.selected {
  background-color: #2196f3;
  color: #fff;
}

.selected:hover {
  background-color: #42a5f5;
}

@media (max-width: 768px) {
  .filterButton {
    width: auto;
    line-height: 15px;
  }
}

@media (max-width: 480px) {
  .ticketFilter {
    margin-bottom: 13px;
  }

  .filterButton {
    font-size: 11px;
  }
}

@media (max-width: 375px) {
  .ticketFilter {
    margin-bottom: 21px;
  }
  .filterButton {
    font-size: 10px;
  }
}

@media (max-width: 360px) {
  .filterButton {
    font-size: 9px;
  }
}

@media (max-width: 320px) {
  .ticketFilter {
    margin-bottom: 13px;
  }

  .filterButton {
    font-size: 8px;
    line-height: 11px;
  }
}
